[2018-02-03 14:25] patricebriand opened #1 "Not working with (function($) {...})( jQuery );"
Hi,

While it seems working fine with a "flat" javascript, encapsulating it with jQuery incompatible mention like (function($) {YOUR CODE})( jQuery ); make it screwed, the inside code is almost completely missed.

This is useful when integrating your javascript in a third party environment using Drupal.

Do you have any suggestion for that use case ?

Kind regards.

Patrice.

[2018-02-03 15:59] olback commented on #1
@patricebriand If you could provide a code-example for testing. I'd love to investigate.

[2018-02-03 17:03] patricebriand commented on #1
Here is a basic example where I can reproduce the issue.
Considering a basic class that will create a div with some custom text.
The class is not called from within the source (that might be the pb) as it is call by the website where this code will be embed (drupal in my case, forcing me to use the jQuery encapsulation).

(function($) {
    class showDivWithText {
        constructor(param) {

[2018-02-03 17:20] olback commented on #1
@patricebriand
Output looks like this now:
Before:
[code]
After:
[code]

[2018-02-03 17:28] patricebriand commented on #1
Indeed, much better :)
Any idea when this could be included in a release ?
Your plugin definitely makes sense as the basic minifier does not support classes.
Thank you.

[2018-02-03 17:29] olback commented on #1
It will probably be up in an hour or so :)
Thanks for reporting!

[2018-02-03 17:32] patricebriand commented on #1
You rocks. Thank you !

[2018-02-03 17:33] #1 closed

[2018-02-03 17:36] olback commented on #1
Should be live now!
@patricebriand

[2018-02-03 17:41] patricebriand commented on #1
I confirm, it is fixed now.
Thank you again.
Have a nice weekend.

[2018-02-21 14:35] chrtz opened #2 "Remove comments"
Is it possible to add a function to remove comments from js/css while compiling it to a minified version?

[2018-02-22 12:42] olback commented on #2
Comments should be removed. I tested both JS and CSS and comments were removed from both for me at least. Would you mind sharing a code-snippet I can test it on?

[2018-02-22 14:22] chrtz commented on #2
Actually it seemed to be my fault.
Somehow I was sure to still see comments in VSCode. But they were removed
in the uploaded files. So everything works as expected.

Cheers.

Am 22.02.2018 13:42 schrieb "Edwin" <notifications@github.com>:

Comments should be removed. I tested both JS and CSS and comments were
removed from both for me at least. Would you mind sharing a code-snippet I
can test it on

[2018-02-22 14:24] #2 closed

[2018-02-22 14:24] olback commented on #2
No problem!

[2018-02-28 16:41] chrtz opened #3 "Issue with relative paths"
If a a relative path is given in a css file, "../" is being removed while minifying.
Therefore, f.g. aren't accessible after the minified css is uploaded.

[2018-02-28 18:31] olback commented on #3
Issue should be fixed now. Update pushed to the marketplace.

Thanks for reporting! :+1:

[2018-02-28 18:31] #3 closed

[2018-02-28 19:09] olback opened #4 "Unit tests"
Write tests to make sure nothing breaks when refactoring/adding new stuff.

[2018-03-19 09:27] bax- opened #5 "feature request: settings, minify on save"
I would love to add settings to this extensions.
I would be great to minify files on save and to be able to specify uglifyjs settings (e.g. mangle-properties etc.)

Thanks!

[2018-03-21 11:33] olback opened #6 "Minify on Save"

[2018-03-21 11:34] #6 closed

[2018-03-21 18:18] olback commented on #5
This should now be implemented!

[2018-03-22 09:42] bax- commented on #5
`es6-css-minify.minifyOnSave` only works for css-files for me, not for js files…

[2018-03-22 09:59] bax- commented on #5
and yet another request (should I open another issue?):
It would be great if I could link the config to e.g. .uglifyrc in my project folder.
That way es6-css-minify and nom scripts could all use the same configs.
Thanks!

[2018-03-22 10:01] olback commented on #5
@bax- Open another issue for this.

[2018-03-22 10:04] bax- opened #7 "feature request: allow using external file for uglify / clean-css options"
I would love to be able to link in my options to an external file (or make it a default / "if-exists" setting).

By using e.g. `.uglifyrc`, npm-scripts and es6-css-minify could read from the same options and could apply the same magnification in different stages of development.

[2018-03-22 10:25] olback commented on #5
Minify JS on save should be fixed now.

[2018-03-22 10:25] #5 closed

[2018-03-22 10:38] olback commented on #5
@bax- Should be on the marketplace now.

[2018-03-22 11:01] olback commented on #7
So the extension should check if .uglifyrc exists, and if it does, overwrite the uglify-es settings with the ones specified in that file. And if the file doesn't exist, use the default settings. Correct?
And you want the same thing for clean-css? There does not seem to be a official config file option for clean-css so I guess I'll call it `.cssrc`?

[2018-03-22 11:35] bax- opened #8 "0.0.6: "command 'es6-css-minify.minify' not found""
I don't know how but since updating from 0.0.5 to 0.0.6 I can't use es6-css-minify any more.
There is no `minify` button on the bottom any more and when I try to initiate the minifier through commands I get:
`command 'es6-css-minify.minify' not found`

I already deactivated/activated und uninstalled/reinstalled.

I didn't change the settings between versions

[2018-03-22 11:52] olback commented on #8
Welp, it works in when running in dev-mode. I'm not getting any errors either, it just won't activate.

[2018-03-22 15:27] olback commented on #8
The problem was that the vscode dependency was only included as a dev dependency, no idea why it worked in earlier versions, but hey. Should be good now.

[2018-03-22 15:27] #8 closed

[2018-03-22 20:31] olback commented on #7
Let this be a bug-free release, please!

[2018-03-22 20:31] #7 closed

[2018-03-22 20:32] olback commented on #7
I really need unit tests to make sure I don't break stuff....

[2018-03-26 17:32] EmmanuelBeziat opened #9 "Minify on save canno be disabled"
Hi,

Since the last update, `"es6-css-minify.minifyOnSave"` don't seem to have any effects. Even if set on false, it still minify files when I hit save.

Moreover, I'm not sure this option should be set on true by default. I wasn't aware of this until it messed up all my workflow, because each modification lead to a minification of files in the same folder, and my taskrunner concatenate all files

[2018-03-26 17:34] olback commented on #9
Did you reload the extension settings with `Minify: Reload config`?

[2018-03-26 17:46] EmmanuelBeziat commented on #9
Okay, I see your point.

It could be useful to find a way to inform users of this major change then, because it can easily break an entire project and cost time to find the issue…
Luckily I was the only one working on this project as the moment, but if my whole team had been on it too, we would have created dozens of minified-copies files, commit them, and duplicated all functions twice in the fin

[2018-03-26 18:41] olback commented on #9
Unfortunately, there is no good way to make sure the user gets to know about major changes. Extensions auto-update, just like every other Microsoft product does. People don't read the changelog/readme either.
I updated README.md anyway, hope it's clearer now.

[2018-04-06 22:01] olback opened #10 "js minify broken!"

[2018-04-06 23:18] olback commented on #10
Fixed.

[2018-04-06 23:18] #10 closed

[2018-04-17 17:20] AndrewHani opened #11 "Source map"
Uglify can generate a source map file, but it's not clear how to configure 'es6-css-minify' on visual studio code to generate it.

[2018-04-17 22:00] olback commented on #11
Will take a look at it.

[2018-04-20 08:37] martonx opened #12 "Help needed with .unifyrc"
Its ok then in theory we can set minification options in .unifyrc, but I'm not able to find any documentation for it, hogy to minify the code in ES6/7 compatible format. As I see by default the minified code is ES5, but it should be at least ES6.

[2018-04-20 12:56] olback commented on #12
I don't really know what you're asking? Your code shouldn't get converted. Just minified. `const` or `let` doesn't get converted to `var` and so forth. Also, the file I think you're referring to should be named `.uglifyrc` and not `.unifyrc` unless you changed it in settings.

[2018-04-20 13:06] martonx commented on #12
Sorry, yes uglifyrc.

Here you are one example:

[code]

And this is minified to this:
`const CACHE="v1";function fromCache(e){return caches.open(CACHE).then(t=>t.match(e).then(e=>e))}function update(e){return caches.open(CACHE).then(t=>fetch(e).then(n=>t.put(e,n)))}self.addEventListener("install",e=>{self.skipWaiting(),e.waitUntil(caches.open(CACHE).then(e=>e.addAll(["/","/manifest.json","/fonts/

[2018-04-20 13:06] #12 closed

[2018-04-20 13:26] olback commented on #12
_ By the way, how can I use shorten function names in minified code. For example 'fromCache' should be only 'a'?_ That's a setting. I changed the default so that it doesn't mangle them anymore.

[2018-04-20 13:28] olback commented on #12
You also asked for the documentation. Here are the sources i use:
[clean-css](https://www.npmjs.com/package/clean-css)
[uglify-es](https://www.npmjs.com/package/uglify-es)

[2018-04-20 13:52] olback commented on #11
With version 0.1.0 you can enable source maps for both Javascript and CSS in settings.

[2018-04-20 13:52] #11 closed

[2018-04-20 14:04] AndrewHani commented on #11
Thanks for your response, but how do I configure it, what are the syntax?

Télécharger Outlook pour Android<https://aka.ms/ghei36>

________________________________
From: Edwin <notifications@github.com>
Sent: Friday, April 20, 2018 3:52:51 PM
To: olback/es6-css-minify
Cc: Andrew Hani; Author
Subject: Re: [olback/es6-css-minify] Source map (#11)

Closed #11<https://github.com/olback/es6-css-minify

[2018-04-20 14:08] AndrewHani commented on #11
Dears,
I read your readme file and I have the info now.
Thanks

Télécharger Outlook pour Android<https://aka.ms/ghei36>

________________________________
From: Edwin <notifications@github.com>
Sent: Friday, April 20, 2018 3:52:51 PM
To: olback/es6-css-minify
Cc: Andrew Hani; Author
Subject: Re: [olback/es6-css-minify] Source map (#11)

Closed #11<https://github.com/olback/es6-css-minify/issues/11>

[2018-04-21 14:59] AndrewHani opened #13 "Sourcemap Path"
Dears,
Thank you for the quick response on the last issue, but here I have a second one regarding the source map.
The path written at the end of both documents (min.js and min.js.map) are relative to my hard desk so I have to change it each time I minify.

I suggest to generate only the file name as they are in the same folder, so it would be relative the local and the uploaded folder.

Thank you.

[2018-04-22 07:21] rsepierre opened #14 "Automatic Save"
Add new parameter for
"es6-css-minify.minifyOnSave" : true, false, exists

For parameter : exists :
detects if a filename.min.extension already exists and only then minifies.

[2018-04-22 12:43] AndrewHani commented on #13
No.
The problem is that the path at the end of the minified version is
# sourceMappingURL=d:\Git\CairoGuide\JS\CairoGuideMain.min.js.map
So it's really relative to my hard drive, when it goes to a live server obviously it doesn't work, and same problem with the map file.
________________________________
De : Edwin <notifications@github.com>
Envoyé : dimanche 22 avril 2018 14:24
À : olback/es6-css-

[2018-04-22 14:49] olback commented on #13
Ah, I'll see what I can do about that.

[2018-04-22 14:53] olback commented on #14
This will be added in the next release.

[2018-04-22 14:59] olback commented on #14
Oh, and do you think this should be the default instead of "yes"?

[2018-04-22 15:34] rsepierre commented on #14
Cool. That's good news !

I think default behaviour should be "false" :

(After installing : You can manually minify, but nothing automatic &
potentially destructive has been set up).
So yes I'm guessing my recommendation for defaults would favor in that
order : false>if.min.exists>always

I wouldn't care for me because I always configure my extensions after
installing (and in this case, it's the

[2018-04-22 15:39] AndrewHani commented on #13
Thank you for the magnificent work.
:D
________________________________
De : Edwin <notifications@github.com>
Envoyé : dimanche 22 avril 2018 17:24
À : olback/es6-css-minify
Cc : Andrew Hani; Author
Objet : Re: [olback/es6-css-minify] Sourcemap Path (#13)

There will be a setting called es6-css-minify.urlJSmap where the default value is an empty string (""). The default sourceMappingURL will just

[2018-04-22 16:59] #14 closed

[2018-04-22 16:59] #13 closed

[2018-04-22 17:02] olback commented on #13
Update live!

[2018-04-22 17:02] olback commented on #14
Update released!

[2018-04-22 20:22] olback opened #15 "sourcemap sources"
sourcemap sources are wrong

[2018-04-22 21:19] olback opened #16 "#sourceMappingURL incorrect"

[2018-04-22 22:31] #15 closed

[2018-04-22 22:31] #16 closed

[2018-04-22 22:33] olback opened #17 "enable sourcemap from .uglifyrc or .cleancssrc"

[2018-04-23 07:43] AndrewHani opened #18 "Sourmap path"
Dear Edwin,
I tried to minify but I always get this
//# sourceMappingURL=d:\Andrew\Tests\es6-minfy\main.min.js

Only if I fill "es6-css-minify.jsMapUrl" then I get
//# sourceMappingURL=testd:\Andrew\Tests\es6-minfy\main.min.js

[2018-04-23 07:54] olback commented on #18
Did you run `Minify: Reload config`?

[2018-04-23 07:56] AndrewHani commented on #18
No,
How is it done?

[2018-04-23 07:57] olback commented on #18
Click F1, type `Minify: Reload config`.

[2018-04-23 08:00] AndrewHani commented on #18
I did, and I got this message
ES5/ES6/CSS Minifier config reloaded

But it's still the same path

[2018-04-23 08:01] olback commented on #18
You have to re-minify the file. Also, what version of the extension are you using? I just pushed version 0.1.2. And this feature works for me.

[2018-04-23 08:09] AndrewHani commented on #18
0.1.2
I deleted the files and reminified, but it's always the same thing

I'll tell you my steps
I installed the extension, changed the settings to sourcemap to true, ran the task and saved so it generated the files, but with relative path to my computer.

[2018-04-23 08:13] olback commented on #18
I think I know what's going on here. You're using Windows, right? I split the path at "/" but Windows paths are with "\". Working on it.

[2018-04-23 08:14] AndrewHani commented on #18
Yes, I'm on windows.

[2018-04-23 08:29] olback commented on #18
I have a lesson now, can't push an update right now. Should be up in a few hours though.

[2018-04-23 08:30] AndrewHani commented on #18
OK.
Thanks for your enormous  efforts.
Good luck.

[2018-04-23 10:55] #18 closed

[2018-04-23 11:01] olback commented on #18
Published.

[2018-04-23 11:14] AndrewHani commented on #18
Great.
One final thing
In the generated map it refers to minified version on top of the file instead of referring to the unminified.
________________________________
De : Edwin <notifications@github.com>
Envoyé : lundi 23 avril 2018 13:01
À : olback/es6-css-minify
Cc : Andrew Hani; Author
Objet : Re: [olback/es6-css-minify] Sourmap path (#18)

Published.

—
You are receiving this because you autho

[2018-04-23 11:28] olback commented on #18
Yeah but shouldn't the sourcemap file be called `name.js.map`.map instead of `main.min.js.map` as well then?

[2018-04-23 11:35] AndrewHani commented on #18
There is no problem with the source map naming, it's just how it refers the original file
meaning that in the map file I find
{"version":3,"sources":["CairoGuideMain.min.js"],
so it call the minified version twice on the inspect tool on the browser.

When I changed it manually to
{"version":3,"sources":["CairoGuideMain.js"],
It workss fine as it calls the minified version on load and the unminifie

[2018-04-23 11:50] olback commented on #18
I'll do the same for CSS then. No point in debugging a minified CSS file either I guess.

[2018-04-23 11:51] AndrewHani commented on #18
Yes
________________________________
De : Edwin <notifications@github.com>
Envoyé : lundi 23 avril 2018 13:50
À : olback/es6-css-minify
Cc : Andrew Hani; Author
Objet : Re: [olback/es6-css-minify] Sourmap path (#18)

I'll do the same for CSS then. No point in debugging a minified CSS file either I guess.

—
You are receiving this because you authored the thread.
Reply to this email directly, view

[2018-04-24 06:13] olback opened #19 "sourcemap url in minified css"
sourcemap url in minified css does not exist

[2018-04-24 10:56] #19 closed

[2018-04-25 11:15] AndrewHani opened #20 "Enhancement"
Dear Edwin,
I wonder if you can add an option for top level compression, meaning if I write var test = function(){...},
its minified to var a = function(){...}, it changes variables names to save more space, it's already supported by uglify.

Also it would be appreciated if you can add a feature where I can minify multiple js files into on file, which is also supported by uglify.

Thanks and regar

[2018-04-25 20:43] olback commented on #20
Top level compression can be enabled by changing "mangle" to true under "es6-css-minify.js". And as for multiple files, I don't know if that's what this plugin is for, really. I think you should take a look at something like [webpack](https://webpack.js.org/).

[2018-04-25 20:55] AndrewHani commented on #20
Ok, I will..
Thank you.. :)

Télécharger Outlook pour Android<https://aka.ms/ghei36>

________________________________
From: Edwin <notifications@github.com>
Sent: Wednesday, April 25, 2018 10:43:10 PM
To: olback/es6-css-minify
Cc: Andrew Hani; Author
Subject: Re: [olback/es6-css-minify] Enhancement (#20)

Top level compression can be enabled by changing "mangle" to true under "es6-css-minify.js".

[2018-05-04 09:54] AndrewHani opened #21 "Extension host terminated unexpectedly."
Dear Edwin,
I'm starting to have this message each time I minify, I uninstalled the extension, reinstalled it and ran the task of relod config but it doesn't work..
Thanks..

[2018-05-04 12:38] olback commented on #21
Does this happen with both JS and CSS?

[2018-05-04 12:41] AndrewHani commented on #21
Yes

Télécharger Outlook pour Android<https://aka.ms/ghei36>

________________________________
From: Edwin <notifications@github.com>
Sent: Friday, May 4, 2018 2:38:27 PM
To: olback/es6-css-minify
Cc: Andrew Hani; Author
Subject: Re: [olback/es6-css-minify] Extension host terminated unexpectedly. (#21)

Does this happen with both JS and CSS?

—
You are receiving this because you authored the threa

[2018-05-04 12:43] olback commented on #21
I can't reproduce the issue. Can you provide example files, os and VS Code version?
Also, make sure you're using v0.1.5 of the extension.

[2018-05-04 12:46] AndrewHani commented on #21
Windows.
Latest vs code version.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Edwin <notifications@github.com>
Sent: Friday, May 4, 2018 2:43:29 PM
To: olback/es6-css-minify
Cc: Andrew Hani; Author
Subject: Re: [olback/es6-css-minify] Extension host terminated unexpectedly. (#21)

I can't reproduce the issue. Can you provide

[2018-05-04 12:49] AndrewHani commented on #21
I just tried to minfy on in a new project, it works.
I think it would be a contradiction with another extension..
I’ll check the others.

Sorry for disturbance

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Edwin <notifications@github.com>
Sent: Friday, May 4, 2018 2:43:29 PM
To: olback/es6-css-minify
Cc: Andrew Hani; Author
S

[2018-05-04 12:50] #21 closed

[2018-05-04 12:52] olback commented on #21
It should still work, what's in your `.vscode/settings.json` file?

[2018-05-04 12:57] AndrewHani commented on #21
{
    "gitlens.advanced.messages": {
        "suppressCommitHasNoPreviousCommitWarning": false,
        "suppressCommitNotFoundWarning": false,
        "suppressFileNotUnderSourceControlWarning": false,
        "suppressGitVersionWarning": false,
        "suppressLineUncommittedWarning": false,
        "suppressNoRepositoryWarning": false,
        "suppressResultsExplorerNotice": false,
        "s

[2018-05-04 12:58] olback commented on #21
All looks good, no idea why it isn't working, sorry.

[2018-06-06 16:00] eletitos opened #22 "The extension host crashes when I use ES5/ES6 minifier in VScode"
I have some problems with the stability of ES5/ES6 css minifier extension in visual studio code. When I use the extension for minifying javascript files the extension host crashes all the time and I need to reboot it. It´s really anoying because it happens a lot. I don´t find a solution I´m afraid I will uninstall the extexion. :(
I´m using version 1.23.1 in Visual Studio Code.

[2018-06-06 16:10] eletitos commented on #21
Hi! I just have wrote un issue since I have the same problem. I have 1.23.1 version of VS code and 0.1.5 version of ES5/ES6 minifier, in a macbook with OS X Yosemite.
I use the extension just to minify javascript. It may work at the same time with Live Sass Compiler extension and Live Server extension (probably any incompatibility?).

[2018-06-07 09:28] olback commented on #22
I don't have this problem but it seems like it's the same issue as in #21.
Can you post a list of all your extensions?

[2018-06-11 14:49] infernocloud opened #23 "How to set a filename pattern for creating the minified file?"
I'm moving from Atom and my minify plugin there let me specify a filename pattern for the minified file. Instead of a *.min.js file in the same directory I need to send the file to a "dist" directory and with no ".min" extension. Is there a way to do that using this plugin? If so I don't see how from the docs.

[2018-06-11 19:30] olback commented on #23
There is no such feature as of right now. Should be added within a few days.

[2018-06-11 23:06] #20 closed

[2018-06-13 16:08] olback commented on #23
Update published. If it doesn't work as requested, reopen this issue.

[2018-06-13 16:08] #23 closed

[2018-06-13 16:30] olback commented on #22
Closing due to lack of information.

[2018-06-13 16:30] #22 closed

[2018-06-20 05:52] robertoarise commented on #23
it does not work for me :(

my settings.json:

[2018-06-20 06:01] robertoarise opened #24 "Save the file in a subfolder"
Hi, I need to save the file in a subfolder "min/"

**my folders:**

css/
---- style.css
---- other.css
**---- min/**
--------- style.css (min)  <!-- **LIKE THIS**
--------- other.css (min)
js/
**---- min/**

**my settings.json:**

"es6-css-minify.cssMinPath": "{currentPath}/min",
or
"es6-css-minify.cssMinPath": "css/min"

it does not work for me :(

[2018-06-21 15:01] olback commented on #24
`"es6-css-minify.cssMinPath": "css/min"` should work. Did you reload with `Minify: Reload`?

Edit: The folder `css/min` has to exist.

[2018-06-26 12:57] olback commented on #24
Closing due to inactivity.

[2018-07-10 05:52] ki11ua opened #25 "Combine multiple CSS and JS files in minified ones"
Is there a way to combine/bundle in one file all js and all css files in custom order or I have to use directly the script and command line function of clean-css and uglify-es? Thank you

[2018-07-13 09:15] ljosberinn opened #26 "not all clean-css options do not seem to work"
Hi,

I have a CSS file importing 3 others, in the same folder. Minifying them automatically removes all @import statements.

According to Marketplace description, you should be able to assign custom clean-css rules via `.cleancssrc` or settings:

[code]

A seperate `.cleancssrc` file containing solely

[code]
does not help either.

After each change, Minify config was reloaded.

None of these chan

[2018-07-13 22:28] olback commented on #25
No there is no such function and I don't intend on adding one. Have you looked at webpack?

Thanks for the suggestion though.

[2018-07-13 22:28] #25 closed, assigned to nobody

[2018-07-17 10:23] AndrewLawendy opened #27 "command 'es6-css-minify.minify' not found"
Dear Edwin,
I started recently to find this message 'command 'es6-css-minify.minify' not found' when minifying CSS.
Thanks for taking care of it.

[2018-07-17 10:25] AndrewLawendy commented on #27
Sorry only happened because I only opened the file not the folder.

[2018-07-17 15:33] olback commented on #27
It's still a bug - reopening.

[2018-07-17 23:03] olback commented on #26
Working on it.

[2018-07-18 03:03] #17 closed

[2018-07-18 16:30] olback commented on #27
Should be fixed in 2.0.0

[2018-07-18 16:30] #27 closed, assigned to olback

[2018-07-18 16:31] olback commented on #26
Should be fixed in 2.0.0.

[2018-07-18 16:31] #26 closed, assigned to olback

[2018-07-18 16:32] olback commented on #24
Should be fixed in 2.0.0.

[2018-07-18 16:32] #24 closed, assigned to olback

[2018-07-18 16:40] AndrewLawendy commented on #27
Great thanks

Télécharger Outlook pour Android<https://aka.ms/ghei36>

________________________________
From: Edwin <notifications@github.com>
Sent: Wednesday, July 18, 2018 6:30:51 PM
To: olback/es6-css-minify
Cc: Andrew Hani; State change
Subject: Re: [olback/es6-css-minify] command 'es6-css-minify.minify' not found (#27)

Closed #27<https://github.com/olback/es6-css-minify/issues/27>.

—
You ar

[2018-07-18 18:29] olback commented on #27
Update published.

[2018-07-18 18:29] olback commented on #26
Update published.

[2018-07-18 18:29] olback commented on #24
Update published.

[2018-07-19 19:34] dhtzs opened #28 "Can't minify CSS files"
Just updated to version 2.0.0 today and now I'm not able to minify CSS files! The CSS files are located in a folder called 'css' in my project's root folder. I have tried moving them out of the folder and it simply doesn't work! I have also tried minifying CSS files on another project and it doesn't work either! This started happening when I updated to version 2.0.0.

[2018-07-19 19:54] olback commented on #28
Did you click the Minify button or did you expect a minify job on-save?

[2018-07-19 20:00] dhtzs commented on #28
I've tried clicking the Minify button, doing it with a keyboard shortcut, and clicking on 'Minify document' option! All of them do nothing, even though every time I try to minify a CSS file using one of these methods, there's a message saying 'Minified file is x.xx% smaller'.

Minify on save is disabled. I haven't changed any configuration!

[2018-07-19 20:02] olback commented on #28
What's es6-css-minify.cssMinPath set to?

[2018-07-19 20:05] dhtzs commented on #28
It's the default one (same directory). I tried changing it to '/' but it did nothing.

Note that minifying JS works as expected, if that helps

[2018-07-19 20:06] olback commented on #28
I'm not at home right now so I can't do anything at the moment. I'll take a look as soon as I can.

[2018-07-19 20:07] dhtzs commented on #28
Thank you!

[2018-07-19 21:35] olback commented on #28
Update pushed to marketplace.
Thanks for reporting!

[2018-07-19 21:35] #28 closed, assigned to olback

[2018-07-19 21:38] Dimitris1337 commented on #28
It's now working! Thanks! :)

[2018-07-21 03:58] jblong777 opened #29 "Not working when using Remote Workspace Extension"
I use the Remote Workspace Extension to work on files remotely.  When I tried to use this extension to minify the file it gives me an error "Minify failed: ENOENT: no such file or directory …  It is trying to save to my C: drive (Windows machine) with the path on my server.  Not sure how the Remote Workspace extension works, but it must be temp saving to C: before uploading to server?  Is there a

[2018-07-25 05:24] lyndonjohn opened #35 "Unexpected Renaming of Minified File"
First, thank you for this extension.

I have a js file, <strong>user.script.js</strong>.
When I minified it, it was renamed to <strong>usersscript.min.js</strong>.
I was expecting the new filename would be <strong>users.script.min.js</strong>.

Other than that, the minified file works.

[2018-07-25 08:27] rolandtoth commented on #24
For me this helped:
https://github.com/olback/es6-css-minify/pull/36

[2018-07-25 09:03] #35 closed, assigned to olback

[2018-07-25 09:06] lyndonjohn commented on #35
Thank you @olback.

[2018-07-25 09:09] olback commented on #35
Version 2.0.3 should be available now.
Thanks for reporting this issue.

[2018-07-25 22:38] olback commented on #29
Did version `2.0.3` fix this issue?

[2018-07-25 23:18] jblong777 commented on #29
Unfortunately not.  It is no longer showing the C: drive, but it is still saying the path is not found.  It does show the correct path to my root web directory on my server though.  Under my "open Editors" section it lists my file with sftp://"servername":"port number"/"path to file" so maybe you need to include the sftp prefix as well or get file path from Remote Workspace extension?

[2018-07-26 20:13] olback commented on #29
Looking into this right now. Is [this](https://marketplace.visualstudio.com/items?itemName=mkloubert.vscode-remote-workspace) the extension you're using?

[2018-07-26 20:55] jblong777 commented on #29
Yes that is the one.  I appreciate you looking into this.

[2018-07-27 19:04] olback commented on #29
I can't figure this out. The node module I'm using to read/write files (`fs`) does not seem to support file path like `file://...`, `ftp://...` and so on.
I'm leaving this open since it's still something I'd like to implement.

[2018-07-30 08:51] ki11ua commented on #25
Yes, I use webpack. I ask only for simplicity of use reasons. Thank you for your answer.

[2018-09-25 11:39] hofa77 opened #42 "Multiple css file and js into one minfied file"
Hi

Could you please give me an example of minifying multiple css and js into one css and js file
I need the setting that is needed

thank you so much

[2018-09-25 20:45] olback commented on #42
There is no such feature at the moment.
Is the same thing as in #25? Since I've gotten this request twice now so I should probably look into this.

[2018-10-02 11:17] Benoit1980 opened #43 "Minifying feature not working at all"
Visual CODE STUDIO v1.27.2
Windows 10 Pro 64 Bit

When I go to my CSS file, click on "F1", then "Minify Document", I can see at the bottom left of the screen a message saying:
"Minified file is 25% smaller", but no minification is happening on the page.

Any idea why, please?

Thank you,

[2018-10-02 12:29] olback commented on #43
Have you changed any settings in the config?

[2018-10-02 15:06] Benoit1980 commented on #43
Sorry I will close this issue as I have downloaded another package. Thanks again.

[2018-10-02 15:06] #43 closed, assigned to olback

[2018-10-06 14:00] jankohlbach opened #44 "save min.js file relative to current .js file"
I want to save my min.js file relative to the file it is compressed out of
because now I can save it relative to the root but if I have a new folder in between it is not working anymore
perfect would be something like '~/../../build/res/scripts'

[2018-10-08 23:41] yozlet opened #45 "Error "Minify failed: Cannot read property 'length' of undefined." when JS parsing fails"
The error `Minify failed: Cannot read property 'length' of undefined.` has been appearing for me regularly when I run the "Minify document" command. It took me a while to work out that it was because JS parsing had failed, and then took more time to work out where the parsing error was. Now, I run `uglifyjs` on the command line to see what's going on.

I'm using version 2.0.3 of the extension with

[2018-10-09 08:19] olback commented on #45
So this only happens when the JavaScript syntax is incorrect?

[2018-10-09 08:38] yozlet commented on #45
I believe so, yes.

Since posting this issue, I noticed a few errors that were just `Minify failed`, without the additional `Cannot read...` part, though I've had a few more of those too.

[2018-10-09 19:39] yozlet opened #46 "Replace uglify-es with terser"
To quote its [project page](https://github.com/terser-js/terser):

[2018-10-10 13:46] #45 closed, assigned to olback

[2018-10-10 13:46] #46 closed, assigned to olback

[2018-10-10 15:30] yozlet commented on #45
@olback Thanks for the quick fix!

[2018-10-10 15:38] olback commented on #45
@yozlet No problem!

[2018-11-05 07:31] SoiTrang opened #49 "Auto shorten identify names"
Please add "Auto shorten identify names" feature, include variables, constants and functions, thanks

[2018-11-05 15:49] olback commented on #49
For what language? Javascript or CSS? For Javascript, there is a setting called `mangle` which truncates variables, functions, etc.

[2018-11-05 16:44] SoiTrang commented on #49
Thanks for your response. I'm sorry for not to read the documentation carefully. I figure it out now. Everything works perfectly.

[2018-11-05 16:44] #49 closed, assigned to olback

[2018-11-05 16:54] olback commented on #49
You're welcome. Enjoy!

[2018-11-24 01:38] FranklinYu opened #54 "Minify JSON"
It would be awesome if I can minify JSON with this extension.

[2018-11-24 11:53] olback commented on #54
Something like this already exists: [eriklynd.json-tools](https://marketplace.visualstudio.com/items?itemName=eriklynd.json-tools).
Thanks for the suggestion though!

[2018-11-24 12:15] #4 closed

[2018-11-24 20:55] FranklinYu commented on #54
That one is not open-sourced. [andyyaldoo.vscode-json](https://marketplace.visualstudio.com/items?itemName=andyyaldoo.vscode-json) works and is open-sourced, so maybe this is not priority. Nevertheless I think it makes sense for all minification to be in one extension. (I don’t need “beautify” because that comes with VS Code.)

Or maybe review Pull Request if any?

[2018-11-24 20:58] olback commented on #54
@FranklinYu I'll implement it as soon as I get the time to.

[2018-12-21 11:06] skills-up opened #55 "Failing to minify with incorrect error report"
-- incorrectly reported ---

[2018-12-21 11:11] #55 closed, assigned to nobody

[2019-01-13 12:53] dwelle opened #56 "Minify file/selection without saving file"
**Describe the solution you'd like**

Minify file/selection without saving file

[2019-02-01 00:00] MuTsunTsai opened #57 "regex not working"
**Describe the bug**
I was trying to use the `mangle.properties.regex` setting in `.uglifyrc` file, but no matter what I do, I always get either an immediate error on reloading the config or get a syntax error on executing minify.

**To Reproduce**
1. Add `mangle.properties.regex` setting in `.uglifyrc` file. JSON does not accept RegExp literals, and assigning string value leads to execution error

[2019-02-18 22:42] mblais opened #58 "Command to minify entire project"
It would be useful to be able to minify the entire project in one go.

For example, after checking out a different branch, currently one must manually re-minify each source (assuming the minified version are untracked).

[2019-02-25 00:21] rsepierre opened #59 "CSS : prefix and minify ?"
To keep your style.css clean and just write css.
hit CTRL+S and if your style.min.css already exists, the style.css is automaticly prefixed and minified.
Ready for production.

You will never see a prefix of your life again.

https://autoprefixer.github.io/

[2019-03-22 19:57] olback commented on #56
Implemented in `2.3.0` :tada:

[2019-03-22 19:57] #56 closed, assigned to olback

[2019-03-22 21:27] olback commented on #59
Implemented in `2.4.0`

[2019-03-22 21:27] #59 closed, assigned to olback

[2019-03-23 09:25] dwelle commented on #56
Great, thanks!

[2019-03-23 18:11] mblais opened #63 "Setting to specify included/excluded files"
Thanks for this useful extension!

I would love to be able to specify patterns in Settings to define which files are processed/ignored by this extension.

[2019-03-27 06:10] rfossella opened #64 "Prevent minification for node js"
Hello,
Using the autosave option for minification of browser js files.  It is also minifying nodejs files on save.  Is there a way to prevent this?

Thanks.
Rob

[2019-03-29 15:53] olback commented on #64
You can disable this feature in the VS Code settings panel either in workspace settings of user settings. Disabling it in the workspace settings (`.vscode/settings.json`) will only disable it for that specific project.

[2019-03-30 01:39] #54 closed, assigned to olback

[2019-03-30 01:41] olback commented on #54
Added in release `2.5.0`.

[2019-04-14 19:42] Shubzz-02 opened #66 "Extension causes high cpu load"
- Issue Type: `Performance`
- Extension Name: `es6-css-minify`
- Extension Version: `2.5.0`
- OS Version: `Windows_NT x64 10.0.17134`
- VSCode version: `1.33.1`
[olback.es6-css-minify-unresponsive.cpuprofile.txt](https://github.com/olback/es6-css-minify/files/3077805/olback.es6-css-minify-unresponsive.cpuprofile.txt)

[2019-05-01 18:15] ToHe86 opened #67 "Settings file"
Hi,

sorry for this maybe newb question: Where can I adjust the settings? I want to specify the path where the minified .js and .css are saved but don't get it working.

Thank you

[2019-05-02 21:36] olback commented on #67
1. Click the cog in the bottom left.
2. Click 'Settings' in the list that pops up.
3. Search for `es6-css-minify` or `JS & CSS Minifier` (both works).

Now you should see all available settings.
In your case you'd want to change 'CSS Min Path' and 'JS Min Path'.

All settings beginning with `Es6-CSS-minify` is settings provided by this extension.

[2019-05-03 10:14] ToHe86 commented on #67
Very nice thank you :)

[2019-05-03 10:15] #67 closed, assigned to olback

[2019-05-05 00:25] #66 closed, assigned to olback

[2019-05-05 00:29] olback commented on #66
Version `2.6.0` is pushed to the marketplace. *Should* be fixed now!

[2019-05-29 11:57] rambhosale opened #69 "Mangle options"
A setting/s to pass the mangle options

[2019-06-01 18:46] olback commented on #69
These are the default settings and can be changed in `settings.json`.
[code]
If the property `es6-css-minify.js` doesn't exist, just copy and paste the snippet above.

[2019-06-05 15:13] olback commented on #69
@Rambhosale Is this resolved by now?

[2019-06-07 06:01] rambhosale commented on #69
Thank you @olback got it working just the way I wanted it.

[2019-06-07 06:01] #69 closed, assigned to olback

[2019-07-03 23:20] ebewley opened #73 "Where to put the .uglifyrc file?"
I have a project in VSCode that I tried to use this extension on, and I cannot figure out how to get it to pick up the .uglifyrc file and reduce code with the toplevel property.  I have tried placing the ".uglifyrc" file in the workspace root, project directory and subdirectory beside the file I want it to affect.  I have also tried naming it according to the name of the file I want it to affect.

[2019-07-03 23:50] olback commented on #73
The `.uglifyrc` config file has to be in the root of the workspace. Once the file is created/modified the config has to be reloaded with `Minify: Reload config` command. The config is applied to all Javascript files in that workspace.

I just tested this feature on Linux and it worked for me. If you can't get it to work after placing the `.uglifyrc` file in the root and reloading the config, pleas

[2019-07-04 00:37] olback commented on #57
Released under version 2.7.0.

[2019-07-04 00:37] #57 closed, assigned to olback

[2019-07-07 08:37] tomgallagher commented on #73
I'm using on Windows and would like to customise the settings of Terser. Not sure how to do this. Just an example of a very basic file and location - I'm assuming the folder used for the workspace - would be helpful. Also, do you run the command in the terminal?

[2019-07-07 08:55] tomgallagher commented on #73
I have the` .uglifyrc` file at the root of the workspace, I get the message that the file is loaded on the reload config command and then it cannot parse this as the contents of the file:

[code]

[2019-07-08 16:05] ebewley commented on #73
I moved the .uglifyrc file back to the root and ran Minify: Reload config
again, and it still produces the following:

get:function(){return
this.InventoryItemStatusID?1===this.InventoryItemStatusID||2===this.InventoryItemStatusID?"pli":3===this.InventoryItemStatusID?"prli":4===this.InventoryItemStatusID?"sli":5===this.InventoryItemStatusID?"rli":"error":this.LinkedOrderDetailItemID?"crli":"cli"}

[2019-07-13 20:25] olback commented on #73
@ebewley

I have a file structure like this:

:open_file_folder:  `minify_issue_73`
&nbsp;&nbsp;:page_facing_up:  `.uglifyrc`
&nbsp;&nbsp;:page_facing_up: `main.js`

main.js:
[code]

`.uglifyrc` config: `{ "toplevel": true }` yields:
[code]
using `{ "toplevel": false }` yields:
[code]

[2019-07-13 20:27] olback commented on #73
@tomgallagher That's not valid JSON. Properties in JSON have to be quoted.

Your config would look like this:
[code]
and NOT like this:
[code]

[2019-07-13 22:56] tomgallagher commented on #73
Great that's simple thanks. Not sure how I missed that it needed to be JSON

[2019-07-14 00:03] ebewley commented on #73
_Possibly a bit off topic, but here goes..._

While I agree with @olback that the ECMA-400 spec **does** seem to clearly state that "a name is a string", I must respectfully disagree with the statement that one **must always** be required to surround a JSON property name with quotes.  If you read and consider the ECMA-400 spec in its entirety concerning names, you will find why it is _permitted_ b

[2019-07-31 04:38] CubeRanch opened #74 "How to use CSS Fragment Preservation"
Hi,

I've been trying to use a feature introduced in clean-css v4.2, and I can't get it to work. It's described as:

"preserves any CSS content between /* clean-css ignore:start */ and /* clean-css ignore:end */ comments;"

What version of clean-css is bundled in your extension? I see the package.json for extension v2.7.0 specifies "@types/clean-css": "^3.4.30", but I haven't figure out how to det

[2019-07-31 07:18] olback commented on #74
Hi

The version in the package.json is what's bundled. The \@types/clean-css package does not specify the clean-css version. Type packages are only for typescript integration. Version 4.1.11 is what's bundled at the moment. I'll bump the version when I get back from my vacation!

[2019-07-31 18:52] CubeRanch commented on #74
Brilliant! Thanks for the quick response.

Got it. I see that version further down the package.json.

BTW, thanks for the "Minify selection" command. I was actually looking for that functionality but didn't see it explicitly mentioned by any of the minify extensions. It was a nice surprise to find it in yours.

Cheers

[2019-08-01 20:36] olback opened #75 "[Major Upgrade] Rewrite"

[2019-08-07 01:03] olback commented on #73
@ebewley  Did you figure this out?

[2019-08-07 02:49] ebewley commented on #73
I have the .uglifyrc file and its "toplevel" entry working, but it does not reduce down as far as I would like.  Its not a big deal, but would certainly be nice to have for it set repeated values into a local variable and make use of that instead of repeating the length original variable name.  I have no other issues at this time.  My last post about the JSON formatting was just an explanation tha

[2019-08-07 16:51] olback commented on #73
@ebewley I see.

I'm using terser to minify JavaScript. The settings you specify in `.uglifyrc` just get passed directly to terser alongside the JavaScript input. I'm not the one controlling what the options do. You can read more about the terser config [here](https://github.com/terser-js/terser#minify-options).

Sorry for the confusion.

[2019-08-07 16:51] #73 closed, assigned to olback

[2019-08-07 16:53] olback commented on #74
Sorry for taking so long to get this rather simple feature added. Ended up rewriting the whole thing and ran into a few issues. clean-css is now version `4.2.1`. Should be live on the marketplace in a few minutes!

[2019-08-07 16:53] #74 closed, assigned to olback

[2019-08-07 16:54] #75 closed, assigned to olback

[2019-08-13 13:46] EvlBlackmask opened #76 "Map files are not mapping with correct path"
When generating a min file with a auto gen. map file the min file does not point to the map file.

Example: When I minify a file it makes a min file and a map file named as such:
fileName.min.js
fileName.min.js.map

In the min file the map file location turn into:
fileName,js.map

I first saw this when version 3.0 came out.
any help would be great!
Thanks.

[2019-08-13 14:07] olback commented on #76
Working on it!

Seems like both JS and CSS is affected.

[2019-08-13 14:32] #76 closed, assigned to olback

[2019-08-13 14:33] olback commented on #76
`3.0.1` is published now!
If it still does not work, just reopen the issue.

[2019-08-13 21:32] CubeRanch opened #78 "Visibility of the Minify button is unpredictable"
**Describe the bug**
When moving to an existing editor that contains an unsupported file type (like .php) the Minify button does not necessarily hide. Sometimes it will, usually by the second file if it does, sometimes it won't at all.

If it does hide, when moving back to a supported file type (like unminified .css) the Minify button will not necessarily show.

In all cases the Minify functionali

[2019-08-13 22:53] olback commented on #78
The default behavior was changed to auto in the `3.0.0` release. Seems like it's not working as good as intended. The behavior can be changed by setting `es6-css-minify.hideButton` to `false`.

I'll change the default back to what it was in `2.*`.

[2019-08-13 23:59] olback commented on #78
Fixed in `3.0.2`

[2019-08-14 14:13] olback opened #81 "Point to source file in JS map, not minified output"

[2019-08-14 18:50] #81 closed, assigned to olback

[2019-08-14 20:45] tomgallagher commented on #78
My minify button recently disappeared - I found I needed to change my setting from the default that I had on install

[2019-08-15 19:55] CubeRanch opened #83 "Notification of config reload when no config change"
I'm getting the "Minify configuration reloaded." message popping up very frequently when I haven't changed any configuration. Seems to be coming from the onDidChangeConfiguration() event. I don't think I noticed this before v3.

**To Reproduce**
Steps to reproduce the behavior:
1. Change editor tabs
2. Message pops up.

**Expected behavior**
I would only expect to see that message after saving set

[2019-08-19 13:47] 0arra0 opened #84 "@import"
Hey!
This expansion is really great. Keep it up.
I have only one problem in CSS. When I try to include a .css file into another .css file with @import "file.css";, I get the following error: "Ignoring local @import of "file.css" as resource is missing", although it exists.
I tried it with "es6-css-minify.css": { "inline": ["all"] } but I still get the error.
Am I doing something wrong?

[2019-08-20 18:36] semerda commented on #78
Same here. Minify button gone. Not minifying.
Had to add     "es6-css-minify.hideButton": false
to settings.json to get the button back and now when I press it minifies.

The VSC Marketplace readme still says that save is DISABLED by default and no indication how to enable or disable the Minify button. I found the how to here inside the issues tracker.

[2019-08-20 22:54] CubeRanch commented on #78
I have a setting in my VSC settings called "Es6-CSS-minify Hide Button" with three choices: "always", "never" and "auto". After installing the latest version my button was gone as well. I had to change the setting from the default "always" to "never" or "auto". As it notes, "auto" isn't 100% reliable.

[2019-08-21 13:03] olback commented on #78
Investigating...

[2019-08-21 13:16] olback commented on #84
Thanks for using it! The error is thrown by clean-css, not the extension itself.

The problem probably occurs because the extension only pass the file content. I think clean-css needs to open the file directly.

[2019-09-09 08:46] Delaney commented on #84
Having the same issue. Is there any solution?

[2019-09-10 10:35] olback commented on #83
`onDidChangeConfiguration` is only supposed to fire when settings.json, or any other vscode file in `.vscode` is changed. It might be one of your extensions that changes something when switching tabs?

I agree with you, the notification show up when it shouldn't. Wokring on it.

I'm sorry for the slow reply.

[2019-09-10 10:50] #83 closed, assigned to olback

[2019-09-10 10:50] #84 closed, assigned to olback

[2019-09-10 11:03] #78 closed, assigned to olback

[2019-09-10 11:04] olback commented on #84
*Should* be fixed now.

[2019-09-10 11:22] olback commented on #42
With the latest update you can use `@import` in css to combine files. Nothing yet for JavaScript.

[2019-09-10 19:09] CubeRanch commented on #83
You nailed it. It's an extension called ColorTabs.
https://marketplace.visualstudio.com/items?itemName=orepor.color-tabs-vscode-ext
It calls settings.update on every tab change. Seems to be integral to the way it works, so I don't suppose there's much you can do about it.

Cheers

[2019-09-10 19:12] olback commented on #83
There was something I could do about it actually. I now check if the change is related to the extension, if not, I'm just ignoring the event.

[2019-09-10 19:15] CubeRanch commented on #83
Hah! Great.

[2019-09-11 00:13] olback opened #86 "Language support"
* Treat `.cleancssrc`, `.uglifyrc`, and `.autoprefixerrc` as JSON files.
* Add autocomplete for these files. (JSON Schema)

[2019-09-11 22:00] steebn opened #87 "CSS Minify just adds a link to the original file"
**Describe the bug**
_In Version 3.1.1:_
When I minify a CSS file, the minified file is just ``` @import url(<//<filepath>/<filename>.css) ``` to the original file. The output window displays the following:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a CSS file
2. Click on Minify
3. Scroll down to Output Window
4. See error
5. Open Minified file and see that there is just an

[2019-09-11 22:02] olback commented on #87
Could you provide example code?

[2019-09-11 23:28] steebn commented on #87
Upon further inspection, if the CSS file is saved locally on my machine, it works as expected, there is no issue.

However, if the files reside on a remote machine on my network, then that is when I get the ```@import url()``` in the minified file.

I attached a bootstrap.css file that I have on a virtual pc, and the minified version that was created using your extension when I opened the css file

[2019-09-12 08:37] olback opened #88 "Add command to dump config"
`Minify: Export current config`

[2019-09-12 11:01] olback commented on #87
To import CSS you need to specify a URL, that includes a protocol. `http:/https:`.

To import files from a filesystem, you could do something like this:
[code]

To import from a url:
[code]

[2019-09-12 17:34] steebn commented on #87
The problem is that I'm not wanting to import. I want the extension to minify the css file that I am working on. However, if I'm using VSCode on my machine, and I open a CSS file that is saved on a remote server/pc on my network, when I minify the CSS file the extension does not minify the file. The <file>.min.css file that is created by the extension is **not** minified. Rather the extension only

[2019-09-12 18:24] olback commented on #87
Have you changed any settings related to css?
What version did you roll back to?

I have a hard time debugging this since I don't have any network drives set up and I use Linux which does not mount network drives in the same way.

[2019-09-12 18:25] steebn commented on #87
So, after my discovery that it is only happening if a file is on a different machine on my network, here are updated steps to reproduce:

**To Reproduce**
Steps to reproduce the behavior:
1. Open windows explorer and navigate to a different machine on your network.
  a. Example: ```\\10.1.24.33\d$```
  b. Example: ```\\myServerName\c$```
![image](https://user-images.githubusercontent.com/6164079/6

[2019-09-12 18:36] steebn commented on #87
**Answers below:**

The only setting that I have changed is: ```  "es6-css-minify.minifyOnSave": "exists", ```

Not sure what this means.

I tried both v3.0.3 and v3.0.1 and they both work correctly

[2019-09-12 20:09] olback commented on #87
Thank you very much.

My mistake. Not meant to be included :man_shrugging:

I think I know what's going on now. Before `3.1.0` I just passed the content of the css file. CleanCSS (the node module that actually minifies the CSS) had no idea what file it belonged to. That meant that `@import` did not work. In `3.1.0` this was changed.

I have a silly workaround that should work in the meantime:
Moun

[2019-09-12 20:11] olback commented on #87
I will try to take a close look when I get home for the weekend.

[2019-09-12 21:38] steebn commented on #87
Excellent. That did the trick. **THANK YOU!!**
![image](https://user-images.githubusercontent.com/6164079/64822825-19a96d00-d573-11e9-802d-3eb3b507641c.png)

I appreciate your help.

[2019-09-14 15:38] olback opened #90 "Right click on file in file viewer to minify"

[2019-09-14 15:39] olback opened #91 "Update title and description"

[2019-10-07 17:32] amalkowski commented on #44
I repeat this request.

[2019-10-08 09:37] #88 closed, assigned to olback

[2019-10-08 09:37] #86 closed, assigned to olback

[2019-10-08 09:37] #91 closed, assigned to olback

[2019-10-08 11:32] Tim-Veestraeten opened #92 "Can't generate a map file with sources included for js"
Hello,

I can't generate a source file with the original source included. This is option sourceMap: includeSources in terser.
This is my configuration:
[code]
It does generate the map files, but those don't include the original source I get when run from the command line with  `--source-map=\"includeSources,filename='${fileBasenameNoExtension}.min.js.map'\"`

Thanks,
Tim

[2019-10-08 11:34] olback opened #93 "Update Q&A Link in package.json"

[2019-10-08 14:12] olback commented on #92
Thanks for reporting the issue.

This is fixed in release `3.3.0`.
You will have to set `es6-css-minify.genJSmap` to `null` to give contorl of the sourceMap object to Terser. That's the only thing you should have to do.

The update will be available in an hour or so.

[2019-10-08 17:33] #90 closed, assigned to olback

[2019-10-08 17:33] #92 closed, assigned to olback

[2019-10-08 17:33] #93 closed, assigned to olback

[2020-01-09 14:53] tomgallagher opened #96 "Bump terser to newer version"
Hello

Any chance you could bump Terser to latest version? Minification throwing an error for me on class properties and they've fixed it in 4.6.0

Thanks

Tom

[2020-01-09 15:46] #96 closed, assigned to olback

[2020-01-09 15:57] tomgallagher commented on #96
Many thanks

[2020-01-09 15:58] olback commented on #96
Published to the marketplace, should be available in a few minutes.

[2020-01-16 06:54] umairkhan-dev opened #98 "HTML minfier"
**Is your feature request related to a problem? Please describe.**
No, this request is not related to any problem currently in the extension.

**Describe the solution you'd like**
Kindly add a HTML minfier also.

**Describe alternatives you've considered**
I have used [Minify](https://marketplace.visualstudio.com/items?itemName=HookyQR.minify) to minify HTML.

**Additional context**
Hi there, Than

[2020-01-25 23:16] dmopdyke opened #99 "[Errors]:1 - Name expected"
Great extension. Been using without any issues, until today.
Got this error when minifying a .js file:

[Errors]: 1  - Name expected

I can't find any reference to this error. Could you please explain what's going on?

[2020-01-25 23:45] olback commented on #99
Can you provide a code snippet so that I can reproduce the issue?

[2020-01-25 23:50] dmopdyke commented on #99
Issue resolved. I tried an online minifier, and when I ran that file, an
error showed up in my code. Fixed the error, and Minify worked fine.
Do I need to mark the issue as closed, or something like that? First time
using Git-Hub this way...

On Sat, Jan 25, 2020 at 6:45 PM Edwin <notifications@github.com> wrote:

[2020-01-25 23:53] olback commented on #99
Glad you figured it out!

To answer your question about Github:
Either the person who opened the issue or one of the authors have to close it.

[2020-01-25 23:53] #99 closed, assigned to olback

[2020-01-25 23:54] dmopdyke commented on #99
Got it. Thanks!

On Sat, Jan 25, 2020 at 6:54 PM Edwin <notifications@github.com> wrote:

[2020-02-19 12:10] umairkhan-dev commented on #98
Sorry, but it has been more than 1 month since submitting the request. Please at-least provide positive or negative feedback.

[2020-03-05 02:35] schroef opened #100 "backgrounfimage url path gets stripped"
**Describe the bug**
Minifying background-image url path gets stripped when using up a couple levels
this path "../../../assets/images/" will be this after minifying "assets/images/". It also stripes quotes from the url attribute.

**To Reproduce**
Steps to reproduce the behavior:
1. Open attached file
2. Minify it
3. Open the min version and search for "color.jpg"
4. See the path has been striped

[2020-03-05 11:15] olback commented on #100
Removal of the quotes around URLs are expected since that is the default behaviour by `clean-css`. This can be fixed by adding
[code]
to the setting `es6-css-minify.css`.

The other issue you're having is that paths are getting rebased which they should not by default. Are you sure that `es6-css-minify.css` > `rebase` is set to `false`? It is set to false by default.

Adding the following to your

[2020-03-05 11:25] olback commented on #98
This is something I eventually want to add. Can't say when, sorry.

Sorry for the late reply.

[2020-03-07 01:59] JamoCA commented on #87
We use UNC paths to access web applications that are hosted on various network servers.  We do not want to have to map each server to a drive letter.  (This will overload available drive letters and modify the auditing that we have in place which monitors file save paths.)

I'm currently using 3.2.2 and the JS minification and source map generation appears to work correctly, but CSS minification i

[2020-03-09 14:05] JamoCA opened #101 "Ability to disable CSS, JS or HTML minification"
This feature request is the result of [bug 87](https://github.com/olback/es6-css-minify/issues/87). _(When minifying a CSS file via Windows UNC path, optimization results in a simple CSS include rather than actual minification.)_ As a result of this bug's current status, I need to use a different [extension](https://marketplace.visualstudio.com/items?itemName=HookyQR.minify) for optimizing CSS, bu

[2020-03-11 12:55] marcellopagano opened #102 "Dont work with Live Sass Compiler ext"
When I try to your extension using it from visual studio code with "Live Sass Compiler ext" enabling "watch sass" I only get the updated css while the min.css is not updated correctly, while if I go to the css file and save then the min.css file is updated, I confirm that I have changed "es6-css-minify.minifyOnSave": "yes"

Desktop information:
 - OS: win10 64bit 1909
 - Visual studio code 1.43
 -

[2020-03-11 13:20] olback commented on #102
JS & CSS Minifier does not react to file changes, only save events. So when Live Sass compiler saves a new version/file, JS & CSS Minifier does not get notified. If you want minified output from Live Sass Compiler you could add the following to your `.vscode/settings.json`:
[code]

[2020-03-11 13:53] marcellopagano commented on #102
Thanks for the tip, I would like to know if there is a substantial difference between the (CSS) compression done by "Live sass compiler" and "JS & CSS Minifier (Minify)", I apologize again if the question is a little off topic.

[2020-03-11 14:00] olback commented on #102
That's a good question. I think Live Sass Compiler has similar settings to clean-css which is used by 'JS & CSS Minifier'.

[2020-03-11 14:06] marcellopagano commented on #102
Thanks again for your time, good job.

[2020-03-11 14:06] #102 closed, assigned to nobody

[2020-05-28 23:03] fkoeppling opened #105 "How to keep important comments?"
When minifying .js files, I'd like to **keep important comments** like licence information and other stuff. I've searched all documentation for your extension and the documentation of the dependencies but I'm unable to find an answer for this. I'd be very happy for more insight on this matter!

I'm using _JS & CSS Minifier_ for _VScode_ on Windows.
Thanks in advance!

[2020-05-28 23:44] fkoeppling commented on #105
### EDIT*
Found out by testing that this markup keeps comments:
Add a **exclamation mark** to the start tag of a comment-block. Works with _multi-line_ and _documentation_ comment blocks, but **not** with _single-line_ comments.

#### Multi-line comments:

#### Multi-line documentation comments:

Apologies for opening this issue without proper testing beforehand. It wasn't this obvious to me. May

[2020-05-28 23:44] #105 closed, assigned to nobody

[2020-05-29 08:31] olback commented on #105
Documentation for this extension is not particularly good. I don't blame you for opening an issue. Glad you figured it out though.

[2020-06-11 05:21] Tazkerah opened #106 "error Maximum call stack size exceeded"
hi, thanks for responding. adobe animation auto generate JS file for HTMLcanves animation. the problem it's big (1.728 KB) , and has a lot of comments. I was trying to minify it with you tool but getting the error "Maximum call stack size exceeded"

[1.js.zip](https://github.com/olback/es6-css-minify/files/4762748/1.js.zip)

[2020-06-11 11:32] olback commented on #106
Thanks for getting back on this. I can confirm that it does not work. Looking in to it.

[2020-06-11 12:07] olback commented on #106
After some investigation, it turns out the problem lies in [terser](https://github.com/terser/terser). Using the terser CLI, I get the same error. This would have to be fixed in terser, nothing I can do about it unfortunately. I'm leaving this issue open so that if anyone else has this issue knows what's going on.

[2020-06-11 20:16] vamelcore opened #107 "Change default config files"
Hello.

In the description:

By default the extension will look for .uglifyrc, .cleancssrc and .autoprefixerrc. You can change the paths in settings. - How can I set global path for config files. When I try:
"es6-css-minify.uglifyConfigFile": "C:\\Users\\VITALIY\\.vscode\\.uglifyrc"
but it doesn't work??
only when .uglifyrc on the current dir.

Thank You.

[2020-09-17 12:55] wobstyr opened #110 "rename the output file"
can you change the name to be whatever.min.css and not whatever-min.css  as this  causes issues with cloudflare?

[2020-09-18 17:30] sankarkumar23 opened #111 "Not working Optional Chaining Operator"
If JavaScript code contains Optional Chaining Operator (?.) minify is not working. If there a fix for this?

[2020-09-21 21:39] sankarkumar23 commented on #111
This feature has been incorporated in terser > v5.2.
Can you please update the package to latest terser version. current version is "terser": "^4.6.2",

[2020-09-26 02:33] leqgarcia opened #112 "How do I enable Minimize on save?"
Never mind... I found it:

{
    "es6-css-minify.minifyOnSave": "yes"
}

[2020-10-01 06:11] Offerel opened #113 "Can't disable for dedicated workspace"
**Describe the bug**
I have enabled the extension globally and set minify enabled to yes globally. However, i have one workspace, where i didn't want to minifiy *.js and *.css files. Thats why, i have set minify on save to no for this workspace. However, when i save a *.js file in this workspace, a minified version appears immediately.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'E

[2020-10-01 15:47] #112 closed, assigned to nobody

[2020-10-01 15:51] olback commented on #110
The out file should be named whatever.min.css if the original filename is whatever.css. whatever-min.css should never happen.

Edit: Can you post the output of `Minify: Export Configuration`?

[2020-10-01 15:57] olback commented on #113
In your workspace, please run `Minify: Export Configuration` and reply with the content.

[2020-10-01 20:42] AndreyChursin commented on #44
there's really something wrong in ways for web-project and browsers
http://joxi.ru/xAe3q6ZfXgeOVm

or i have not setup it wright?

[2020-10-02 11:05] olback commented on #44
@AndreyChursin Isn't that correct? The map file  is in the same directory as the output file and has a relative path. An absolute path would not work here since your file system path is probably not the same as the url path.

[2020-10-02 11:09] Offerel commented on #113
Hi there. Sure, here it is:

[code]

[2020-10-12 05:32] Offerel commented on #113
It seems, that i could workaround the issue now. If i set in user settings this switch to "no", i can enable it for specific workspaces. And indeed, in that workspaces the minify works now automatically as expected. If i disable it in other specific workspaces and set it there also to "no", no minified versions will be created.

But when i have set in user settings minify to yes, the "no" setting

[2020-10-12 14:56] LucasHocker opened #114 "Prefix sourceMappingURL"
In js.ts, you overwrite the `url` sourceMap parameter. I would like to be able to add a prefix in there somehow, such that the generated //# sourceMappingURL=https://myurlhere.com/foo/<outFileName.map>.

Could you add an additional settings parameter or concatenate the existing `url` parameter please?

[2020-11-20 08:47] GuoChen-thlg opened #115 "Defacing compression"
How do you compress the name of a variable to make it shorter and ugly, and then compress it to run on line

[2020-11-26 02:36] #115 closed, assigned to nobody

[2020-12-02 16:45] #113 closed, assigned to olback

[2020-12-21 17:59] #111 closed, assigned to olback

[2021-01-10 11:52] jhack-jos commented on #87
Same problem here with version 3.3.2, but I think I may have understood the issue. As of now es6-css-minify sends to cleancss the file path like below if the file is in a samba share:

`//<filepath>/<filename>.css`

but it should instead check if the file is a samba folder (meaning the file is local and not remote), and add the "file:///" protocol prefix to it in such a case before to forward the

[2021-01-22 08:20] yonkov opened #117 "How to uglify JS"
I installed the extension JS & CSS Minifier in Visual Studio Code. I am trying to minify and compress my js, so that all variable names get shortened/uglified in the compiled file. For example, if i have the following code:

`var firstValueName = 10`

I would like to have it converted in the minified file to something like:

`var a=10`

How do I do that?

I tried adding the  following configuratio

[2021-02-09 07:16] kimlimjustin opened #118 "Error unexpected token: punc (.) on optional chaining"
**Describe the bug**
Error "unexpected token: punc (.)" when minifying JavaScript file which contains optional chaining (?.) syntax

**To Reproduce**
Steps to reproduce the behavior:
1. Create a JavaScript file
2. Add an optional chaining syntax, ex: `if(object.key?.otherKey)`
3. Run Minify
4. There will be an error showing `unexpected token: punc (.)`

**Expected behavior**
The JavaScript file is

[2021-03-08 18:17] oviirup opened #119 "JavaScript Nullish coalescing operators are throwing error"
It gives an error if there is nullish operator  in my script.
It throws an error like this
[code]
please fix it.

[2021-03-14 08:10] Rambhosale commented on #117
Here are my configurations give it a try

`"es6-css-minify.enableAutoprefixer": true,
    "es6-css-minify.minifyOnSave": "exists",
    "es6-css-minify.js": {
        "mangle": true,
        "compress": {
            "unused": true
        },
        "output": {
            "quote_style": 0
        }
    },`

[2021-03-14 08:13] rambhosale commented on #117
Here are my configurations give it a try
[code]

[2021-04-04 16:28] GSDUser opened #122 "Bump terser version please"
**Issue**
Some newer JS language features  cause minification errors. In particular "Optional chaining" and "Nullish Coalescing".

**Example 1**
On minification of a file that uses Optional Chaining

`[myFile.js]:
	[Errors]: 1
		- Unexpected token: punc (.)`

**Example 2**
On minification of a file that uses Nullish Coalescing

`[myFile.js]:
	[Errors]: 1
		- Unexpected token: operator (?)`

**Solu

[2021-04-04 18:48] bluedasher13 opened #123 "Minify Selection cause an error (incorrect JSON format result)"
In a JSON file, if I run the command `Minify: Selection`:

 * before minified:
[code]

 * after minified:
[code]

 * expected:
[code]

It will cause an error after minified: `Invalid escape character in string.`

Because the double backslashes `\\` has been stripped.

If this extension doesn't support JSON minifying, The `Minify: Selection` command should be disabled in the JSON editors.

[2021-05-06 23:36] willianjbl opened #126 "Support for <main> tag"
while developping I've noticed that my layout wasn't not loading properly, then I saw that my '.min.css' was missing a main tag style. It is not a really problem since I can just switch the tag to another one, but, the main tag is from HTML5 so it should be supported.

so it would be really to add suport for the <main> element.

[2021-05-06 23:41] willianjbl commented on #126
it was a bug on my VS Code, that was adding an comma after the selector, the minify is workink like it should

[2021-05-06 23:41] #126 closed, assigned to nobody

[2021-06-08 17:14] gabrielmachts commented on #118
I have the exact same issue.

    OS: Xubuntu Linux
    Version: 20.04

[2021-06-28 14:49] shaipetel opened #129 "Using @import "base.css" will not re-minify when the base.css file changes with minify on change option"
**Describe the bug**
Assume I have 2 css files:
base.css
app.css

in app.css I import base.css "@import "base.css"
in app.min.css - a copy of the base.css is added instead of the import statement.

Now - assume I made changes to base.css.

in the raw CSS version of app.css I have the @impot statement, which works fine when base.css is modified.

However. app.min.css will not be updated with the ch

[2021-06-28 14:54] shaipetel opened #130 "Allow to keep @import statements in CSS when minifying"
**Is your feature request related to a problem? Please describe.**
When using @import "base.css", allow me to keep the @import statement instead of replacing it with the file's content

**Describe the solution you'd like**
A setting or a comment in the file near the @import statement that would allow to keep it as-is in the minified CSS file.

[2021-07-28 15:54] Fullstack-WEB-Blockchain-Developer opened #131 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `es6-css-minify`
- Extension Version: `3.3.2`
- OS Version: `Windows_NT x64 10.0.18362`
- VS Code version: `1.58.2`

:warning: We have written the needed data into your clipboard. Please paste! :warning:

[2021-07-28 18:09] olback commented on #131
No bug has been described, closing due to lack of information.

[2021-07-28 18:09] #131 closed, assigned to nobody

[2021-08-16 16:29] rmm443 commented on #118
same

[2021-08-19 14:16] pdonias opened #133 "Variables starting with `$` are removed"
**Describe the bug**
Variables starting with `$` are removed.

**To Reproduce**
1. Open a new file
2. Paste the following code
[code]
3. Select the code
4. Run `Minify: Selection`
5. The output is:
[code]

**Expected behavior**
The following code (or similar):
[code]

**Desktop (please complete the following information):**
 - OS: Ubuntu 20.04
 - Version: 3.3.2

[2021-10-06 01:29] AstroOrbis opened #134 "JSON minifier"
Because why not? A lot of people use JSON, so this would be a useful feature.

[2021-10-12 20:38] Erik-Schlegel commented on #118
same

[2021-10-15 21:47] HFMohammad opened #135 ""../" removed from url"
This is my code:

`background: url('../images/logo.png')`

After minify my code changed to:

`background: url(images/logo.png)`

I use this setting for fix this problem but not working:

[code]

[2021-10-23 21:26] #135 closed, assigned to nobody

[2021-11-17 09:31] nikunjmm opened #136 "Please provide sample link to .uglifyrc settings"
Please provide sample link to .uglifyrc settings

[2021-11-29 11:32] spfmoby opened #137 "Non utf-8 JS files become utf-8 files"
**Describe the bug**
When you minify a .js file which is for example in the windows-1252 format, le .min.js file has a utf-8 format

**To Reproduce**
Steps to reproduce the behavior:
1. Create or open a JS file
2. convert it in windows-1252 format and save it
3. right click somewhere in the content of the .js file and select "Minify: Document"
4. The .min.js file has been created with the utf-8 fo

[2021-12-08 17:58] JamoCA commented on #87
Hey @jhack-jos Do your `pathToFileURL` modifications (from Jan 10) work when accessing UNC paths?

[2021-12-16 03:16] bdcoder2 opened #138 "How to minify javascript as part of tasks.json using Visual Studio Code? ..."
When using Visual Studio code, how do I "execute" the minifier from a task within "tasks.json"?   Is it even possible?   I haven't been able to find any documentation on executing an extension from a task defined in tasks.json.

Thanks in advance.

[2022-01-23 00:58] SArpnt commented on #133
a $ and anything after in a variable is removed, for example
[code]
becomes
[code]

[2022-01-26 21:12] olback opened #140 "Help wanted - New maintainer(s)!"
When I created this extension for VS Code, there was only one other minify extension with a considerable userbase. Unfortunately that extension did not support the latest Javascript features at the time so I decided to quickly throw together my own. The idea was to only use this hacked together extension until the other one was updated.

Well, that never happend. Since then, this extension have be

[2022-02-16 09:29] notaprofi opened #143 "How to compress folder into one file?"
I'm new into js-minification and is confused how to use your extention.
Is there is a way to compress several js files into one file with es6-css-minify? Is there to do it automatically on save?

Also, is there a good example of .uglifyrc file? By default the extension doesn't seem to minify optimally, for example it doesn't minify local variable names.

Also, is there a way to minify into another

[2022-02-18 22:28] olback commented on #143
Hi,

This extension is mostly for single files or small project where each file is separate. It sound like you want a proper Javascript build system. There are plenty of popular, well-maintained solutions, just to name a few: [webpack](https://webpack.js.org/) and [babel](https://babeljs.io/).

No.

Not that I know of.

[2022-02-18 22:28] #143 closed, assigned to nobody

[2022-04-28 00:50] divyesh-makwana commented on #136
I found this: https://github.com/FCOO/leaflet-control-box/blob/master/.uglifyrc

[2022-05-05 08:22] BVazquezAlvarez opened #144 "Cant minify js files with logical nullish assignment (??=)"
**Describe the bug**
When a Javascript file contains a logical nullish assignment (??=) inside the minifier throws an error

**To Reproduce**
1. Go to a Javascript file
2. Insert a logical nullish assignment in that file
3. Try no minify it
4.  Throws error
                "[Errors]: 1
		- Unexpected token: operator (?)"

**Desktop:**
 - OS:  Windows
 - Version 10
 - Minifier version: 3.3.3

[2022-05-07 13:17] olback commented on #144
Duplicate of #119

[2022-05-07 13:17] #144 closed, assigned to nobody

[2022-05-18 10:17] ahalf-yuan commented on #140
I'm interested in doing a bit to help.
any thoughts on next steps?

[2022-06-23 21:27] olback commented on #140
A few things that need fixing:
* Update libraries, new JS features are currently not supported.
* Fix the tests.
* Implement/fix issues

[2022-07-24 09:43] exphoenee opened #146 "Problem with "#" marked private class properties"
If I using privat properties in a class, the minifier crashing and I getting the following error message:

[app.js]:
	[Errors]: 1
		- Unexpected character '#'

If I clearing the "privat" option the minifier work properly.

[2022-08-05 00:51] JamoCA commented on #101
Hello?  Anyone there?  Please add the ability to individually enable/disable either ES6/JS or CSS.  (This is important as this extension appears to be incapable of properly minimizing CSS files that are accessed via a UNC path.)

[2022-08-05 00:53] JamoCA commented on #87
Has there been any progress on this bug?

[2022-08-05 19:57] olback commented on #101
Nope. I no longer work on this project (See #140).

I have a full time job. When I get home from work, I don't usually feel like doing **unpaid** work as well.

If this is something you need/want, fork and fix it yourself.

[2022-08-05 19:57] olback commented on #87
No. See #140.

[2022-08-05 21:02] JamoCA commented on #101
Thanks for the timely response.  (I didn't see #140 as I was returning to view the statuses of the issues that I reported and only receive participating & mention notifications.)

I wondered what happened after 2 years have gone by without receiving any response.  Congratulations on your job and thanks for letting me know the status of this project.

[2022-08-29 07:15] chzager opened #147 "Can't minify logical OR assignments"
**Describe the bug**
When trying to minify a JavaScript file where _logical OR assignments_ ([see MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Logical_OR_assignment)) are used, Minify runs into an error ("Unexpected token: operator (=)")

**To Reproduce**
Steps to reproduce the behavior:
1. Make a new JS file
2. Sample code:
[code]
3. Minify the file.
4. See err

[2022-09-08 11:54] dbaja70 opened #148 "Problem with Javascript minimization"
When I tried to minimize the code that contained the command:

let tmpdim = data[a].artDimenzije ?? "";

I got a message about an unexpected operator ?

[2022-09-08 21:34] olback commented on #148
Duplicate of #119

[2022-09-08 21:34] #148 closed, assigned to nobody

[2022-09-12 11:27] Mofred1 opened #149 "how to input regex in setting.json?"
Hi all
I am trying to shorten this list
"reserved": ["MW_Start","MW_inputClick","MW_Image","MW_buttonPressed","MW_inputClick","MW_changeMainSel","MW_changeImgSel"],

with
"keep_fnames": "/^MW_/",

but I cant find the right regex format.
How is the correct input?
Mani

[2022-09-13 10:25] olback commented on #149
I don't actually know if regex is supported in json configs. Your regex is not quite right, I think it should be something like  "/^MW\_.*/", otherwise only functions named "MW_" will match.

[2022-09-13 17:25] Mofred1 commented on #149
Thanks for the answer, but I tried it also.
I found in the code that keep_fnames allows String and Boolean input, therefore there should be the possibility for regex.

Best regards
Mani

From: Edwin ***@***.***
Sent: Tuesday, September 13, 2022 12:26 PM
To: olback/es6-css-minify ***@***.***>
Cc: Mofred1 ***@***.***>; Author ***@***.***>
Subject: Re: [olback/es6-css-minify] how to input regex in se

[2022-10-13 03:34] LamdoHeaven opened #150 "Pasting bug"
With this extension actived, pasting text to explorer  or find&replace input will paste to editor. Could you fix this bug for Windows?

[2022-10-13 05:51] #150 closed, assigned to nobody

[2022-11-02 16:21] UpperLEFTY commented on #140
@olback  I would like to help!

[2022-11-02 16:22] UpperLEFTY commented on #140
I'm also interested in maintaining.